/* ./src/index.css */
@tailwind base;

:root {
    --navbar-padding: .5rem 2rem;
}

@layer base {
    [data-theme="dark"] body {
        background-color:  rgb(15, 15, 15);
    }

    a:hover {
        @apply underline;
    }

    input {
        @apply bg-gray-800;
        @apply border-2;
        @apply border-gray-800;
        @apply rounded-lg;
        @apply p-2;
        @apply text-white;
        @apply focus:outline-none;
        @apply focus:border-blue-500;
        @apply transition;
    }

    svg.clickable {
        @apply cursor-pointer;
        @apply hover:scale-125;
        @apply transition;
        @apply duration-200;
    }

    svg.disabled {
        @apply brightness-50;
    }

    .loading-xl {
        @apply !w-20;
    }
}

@tailwind components;
@tailwind utilities;