/* ./src/index.css */
@tailwind base;

@layer base {
    @font-face {
        font-family: 'Roboto';
        font-style: medium;
        font-weight: 500;
        font-display: swap;
        src: url(/fonts/roboto-medium.woff2) format('woff2'), url(/fonts/roboto-medium.ttf) format('ttf');
      }

    /* html {
        font-size: 10px;
    } */

    body {
        @apply flex;
        @apply items-center;
        @apply min-h-lvh;
        @apply text-white;
        @apply transition;
        background-color:  rgb(15, 15, 15);
    }

    input {
        @apply bg-gray-800;
        @apply border-2;
        @apply border-gray-800;
        @apply rounded-lg;
        @apply p-2;
        @apply text-white;
        @apply focus:outline-none;
        @apply focus:border-blue-500;
        @apply transition;

    }

    #app {
        @apply grid;
        @apply grid-cols-2;
        @apply py-8;
        @apply mx-auto;
      }
}

@tailwind components;
@tailwind utilities;